<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Editar Candidato</title>
    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<div th:insert="partials/navbar.html"></div>

<div class="container">
    <h1 th:text="${candidato.nome}">Editar Candidato</h1>

    <form method="post" th:action="@{'/candidatos/' + ${candidato.id}}">
        <div class="form-group">
            <label for="nome">Nome do Candidato</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome do Candidato" name="nome" th:value="${candidato.nome}">
        </div>
        <div class="form-group">
            <label for="partido">Partido</label>
            <input type="text" class="form-control" id="partido" placeholder="Partido" name="partido" th:value="${candidato.partido}">
        </div>
        <div class="form-group">
            <label for="sigla">Sigla</label>
            <input type="number" class="form-control" id="sigla" placeholder="Sigla" name="sigla" th:value="${candidato.sigla}">
        </div>
        <button type="submit" class="btn btn-default">Editar</button>
    </form>

</div>
</body>
</html>