<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home Page</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

	<div th:insert="partials/navbar.html"></div>

	<div class="container">
		<h1>Lista de Candidatos</h1>
		
		<table class="table table-striped">
		  <thead>
		  	<tr>
		  		<th>Nome</th>
		  		<th>Partido</th>
		  		<th>Sigla</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr th:each="candidato: ${candidatos}">
			    <td th:text="${candidato.nome}" />
			    <td th:text="${candidato.partido}" />
			    <td th:text="${candidato.sigla}" />
			</tr>
		  </tbody>
		</table>
	</div>
</body>
</html>